<div class="modal-header">
    <button type="button" class="close" ng-click="cancel('cancel')">
        <span aria-hidden="true"></span>
        <span class="sr-only">Close</span>
    </button>
    <h4>{{mode == 'edit' ? 'Edit' : 'Add'}} Employee</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">

        <form class="form-horizontal">
            <div class="row form-group">
                <label class="col-md-1"></label> <label class="col-md-3 field-label">GUID</label>
                <span class="col-md-8" ng-if="mode == 'edit'">{{item.guid}}</span>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-show="mode == 'add'"
                           ng-model="item.guid" autofocus="true">
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-1"></label> <label class="col-md-3 field-label">Name</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" ng-model="item.name" required>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-1"></label> <label class="col-md-3 field-label">Email</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" ng-model="item.emailId" required>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-1"></label> <label class="col-md-3 field-label">Managers</label>
                <div class="col-md-8">
                    <simple-tag items="item.managers" section="'managers'" on-remove="true"></simple-tag>
                        <span class="btn-group mini-tag-simple-container" ng-show="!editManagers"
                              ng-click="editManagers = true">
                            <span class="mini-tag-simple">
                                <span class="a-lnk a-lnk-icon-mini"><i
                                        class="nc-icon-mini ui-1_simple-add"></i></span>
                            </span>
                        </span>
                    <ui-select ng-model="selected.manager" ng-show="editManagers">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="manager in (options.managers | filter: $select.search)">
                            <span ng-bind-html="manager.name | highlight: $select.search"></span>
                            <small ng-bind-html="manager.emailId | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-1"></label> <label class="col-md-3 field-label">Roles</label>
                <div class="col-md-8">
                    <simple-tag items="item.roles" section="'roles'" on-remove="true"></simple-tag>
                        <span class="btn-group mini-tag-simple-container" ng-show="!editRoles"
                              ng-click="editRoles = true">
                            <span class="mini-tag-simple">
                                <span class="a-lnk a-lnk-icon-mini"><i
                                        class="nc-icon-mini ui-1_simple-add" on-remove="true"></i></span>
                            </span>
                        </span>
                    <ui-select ng-model="selected.role" ng-show="editRoles">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="role in (options.roles | filter: $select.search)">
                            <span ng-bind-html="role.label | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="yes()">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>