<div class="container main">
    <h1 class="specifications">Employees</h1>
    <div class="row spacer-top-md">
        <div class="col-md-12">
            <div class="row toolbar spacer-bottom-md">
                <div class="col-md-12">
                    <form class="form-inline pull-left">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-link" ng-click="self.showAdd();">
                                        <i class="nc-icon-mini users_add-27"></i></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="form-inline pull-right">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-link dropdown-toggle" ng-click="self.list()" data-toggle="dropdown">
                                        <i class="nc-icon-mini ui-1_zoom"></i> <i class="nc-icon-mini arrows-2_small-down"></i>
                                    </button>
                                </div>
                            </div>
                            <input class="form-control search" ng-model="self.searchTerm" type="text" placeholder="Search" ng-keypress="self.checkSearch($event);">
                            <button class="btn btn-link search-clear" type="reset" ng-click="self.searchTerm = ''; self.list();"><i class="nc-icon-mini fw ui-1_circle-remove"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>GUID</th>
                        <th><a href="" ng-click="self.sortList('name');" class="a-lnk">Name&nbsp;&nbsp;
                            <span ng-class="{'nc-icon-mini': true, 'fw arrows-2_select-83': self.sort.name !== 'name',
                         'arrows-1_small-triangle-down': self.sort.name === 'name' && self.sort.direction === 'desc',
                         'arrows-1_small-triangle-up': self.sort.name === 'name' && self.sort.direction === 'asc'}"></span></a></th>
                        <th><a href="" ng-click="self.sortList('emailId');" class="a-lnk">Email&nbsp;&nbsp;<span ng-class="{'nc-icon-mini': true, 'fw arrows-2_select-83':
                        self.sort.name !== 'emailId', 'arrows-1_small-triangle-down': self.sort.name === 'emailId' &&
                        self.sort.direction === 'asc', 'arrows-1_small-triangle-up': self.sort.name === 'emailId' &&
                        self.sort.direction === 'desc'}"></span></a></th>
                        <th><a href="" ng-click="self.sortList('roles');" class="a-lnk">Roles&nbsp;&nbsp;
                            <span ng-class="{'nc-icon-mini': true, 'fw arrows-2_select-83': self.sort.name !== 'roles',
                         'arrows-1_small-triangle-down': self.sort.name === 'roles' && self.sort.direction === 'desc',
                         'arrows-1_small-triangle-up': self.sort.name === 'roles' && self.sort.direction === 'asc'}"></span></a></th>
                        <th><a href="" ng-click="self.sortList('managers');" class="a-lnk">Managers&nbsp;&nbsp;
                            <span ng-class="{'nc-icon-mini': true, 'fw arrows-2_select-83': self.sort.name !== 'managers',
                         'arrows-1_small-triangle-down': self.sort.name === 'managers' && self.sort.direction === 'desc',
                         'arrows-1_small-triangle-up': self.sort.name === 'managers' && self.sort.direction === 'asc'}"></span></a></th>
                        <th>Known Topics</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    </tr>
                    <tr ng-repeat="employee in self.employees" class="a-lnk" ng-click="self.showEdit(employee.guid)">
                        <td>{{employee.guid}}</td>
                        <td>{{employee.name}}</td>
                        <td><a ng-href="mailto: {{employee.emailId}}" ng-click="$event.stopPropagation();">{{employee.emailId}}</a></td>
                        <td><span ng-repeat="role in employee.roles"><span ng-if="$index !== 0">, </span><span>{{role | propercase}}</span></span></td>
                        <td><span ng-repeat="(key, value) in employee.managers"><span ng-if="$index !== 0">, </span><span>{{value}}</span></span></td>
                        <td><span ng-repeat="knowTopic in employee.topics" class="label label-default"></span>{{knowTopic}}</td>
                        <td>
                            <a><i class="nc-icon-mini ui-1_trash-simple" ng-click="$event.stopPropagation();self.remove(employee.guid);"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <ng-include src="'/lunchandlearn/html/main/pagination.html'"></ng-include>
        </div>
    </div>
</div>