<div class="container main">
    <h1 class="specifications">Employee</h1>
    <div class="row spacer-top-md">
        <div class="col-md-8">
            <ng-include src="'/lunchandlearn/html/main/error.html'" ng-show="self.error"></ng-include>
            <form novalidate ng-show="!self.error">
                <div class="form-group">
                    <label class="form-label">Name</label>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <span>{{self.item.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Email Id</label>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <a ng-href="mailto: {{self.item.emailId}}" class="a-lnk">
                                    <i class="nc-icon-outline ui-1_email-84"></i>&nbsp;{{self.item.emailId}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Managers</label>
                            <div class="form-group">
                                <simple-tag items="self.item.managers" linkable="true"
                                            section="'managers'" section-url="'employees'"></simple-tag>
                                <span class="text-none" ng-if="!self.item.managers">None</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Roles</label>
                            <div class="form-group">
                                <simple-tag items="self.item.roles"></simple-tag>
                                <span class="text-none" ng-if="!self.item.roles || self.item.roles.length == 0">None</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Known Topics</label>
                            <div class="form-group">
                                <span class="text-none" ng-if="!self.isEditable && !self.item.topicsKnown">None</span>
                                <simple-tag items="self.item.topicsKnown" linkable="true"
                                            section-url="'topics'" section="'topicsKnown'"
                                            on-remove="self.saveByField"></simple-tag>
                                <span class="btn-group"
                                      ng-show="self.isEditable && !self.editTopicsKnown" ng-click="self.editTopicsKnown = true">
                                    <span class="mini-tag-simple plus">
                                        <span class="a-lnk a-lnk-icon-mini"><i
                                                class="nc-icon-mini ui-1_simple-add"></i></span>
                                    </span>
                                </span>
                                <ui-select ng-model="selected.topicKnown" ng-show="self.isEditable && self.editTopicsKnown">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="topic in (self.topics | filter: $select.search)">
                                        <span ng-bind-html="topic.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Topics Interested In</label>
                            <div class="form-group">
                                <span class="text-none" ng-if="!self.isEditable && !self.item.topicsInterestedIn">None</span>
                                <simple-tag items="self.item.topicsInterestedIn" linkable="true"
                                            section-url="'topics'" section="'topicsInterestedIn'"
                                            on-remove="self.saveByField"></simple-tag>
                                <span class="btn-group"
                                      ng-show="self.isEditable && !self.editTopicsInterestedIn"
                                      ng-click="self.editTopicsInterestedIn = true">
                                    <span class="mini-tag-simple plus">
                                        <span class="a-lnk a-lnk-icon-mini"><i
                                                class="nc-icon-mini ui-1_simple-add"></i></span>
                                    </span>
                                </span>
                                <ui-select ng-model="selected.topicInterestedIn" ng-show="self.isEditable && self.editTopicsInterestedIn">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="topic in (self.topics | filter: $select.search)">
                                        <span ng-bind-html="topic.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Trainings Imparted</label>
                            <div class="form-group">
                                <simple-tag items="self.item.trainingsImparted" linkable="true"
                                            section-url="'trainings'" section="'trainingsImparted'"
                                            ng-if="self.item.trainingsImparted"></simple-tag>
                                <span class="text-none" ng-if="!self.item.trainingsImparted">None</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Trainings Attended</label>
                            <div class="form-group">
                                <simple-tag items="self.item.trainingsAttended" linkable="true"
                                            section="'trainings'" section-url="'trainings'"
                                            ng-if="self.item.trainingsAttended"></simple-tag>
                                <span class="text-none" ng-if="!self.item.trainingsAttended">None</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <ng-include src="'/lunchandlearn/html/training/trainingLeftPane.html'"></ng-include>
        </div>
    </div>
</div>