<div class="container main">
    <h1 class="specifications">Employee</h1>
    <div class="row spacer-top-md">
        <div class="col-md-8">
            <ng-include src="'/lunchandlearn/html/main/error.html'" ng-show="self.error"></ng-include>
            <form novalidate>
                <div class="form-group">
                    <label class="form-label">Name</label>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <span>{{self.item.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Email Id</label>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <span>{{self.item.emailId}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Topics</label>
                            <div class="form-group">
                                <simple-tag items="self.item.topics" linkable="true"
                                            section-url="'topics'" section="'topics'" on-remove="self.saveByField"></simple-tag>
                                <span class="btn-group mini-tag-simple-container"
                                      ng-show="!self.editTopics" ng-click="self.editTopics = true">
                                    <span class="mini-tag-simple">
                                        <span class="a-lnk a-lnk-icon-mini"><i
                                                class="nc-icon-mini ui-1_simple-add"></i></span>
                                    </span>
                                </span>
                                <ui-select ng-model="selected.topic" ng-show="self.editTopics">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="topic in (self.topics | filter: $select.search)">
                                        <span ng-bind-html="topic.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Managers</label>
                            <div class="form-group">
                                <simple-tag items="self.item.managers" linkable="true"
                                            section="'managers'" section-url="'managers'" on-remove="self.saveByField"></simple-tag>
                                <span class="btn-group mini-tag-simple-container"
                                      ng-show="!self.editManagers" ng-click="self.editManagers = true">
                                    <span class="mini-tag-simple">
                                        <span class="a-lnk a-lnk-icon-mini"><i
                                                class="nc-icon-mini ui-1_simple-add"></i></span>
                                    </span>
                                </span>
                                <ui-select ng-model="selected.manager" ng-show="self.editManagers">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="manager in (self.managers | filter: $select.search)">
                                        <span ng-bind-html="manager.name | highlight: $select.search"></span>
                                        <small ng-bind-html="manager.emailId | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <uib-tabset justified="true">
                    <uib-tab heading="Agenda">
                    </uib-tab>

                    <uib-tab heading="Attachments">
                        <ng-include src="'/lunchandlearn/html/training/attachments.html'"></ng-include>
                    </uib-tab>

                    <uib-tab heading="Trainees">
                    </uib-tab>

                    <uib-tab heading="Feedback">
                    </uib-tab>
                </uib-tabset>
            </form>
        </div>
        <div class="col-md-4">
            <ng-include src="'/lunchandlearn/html/training/trainingLeftPane.html'"></ng-include>
        </div>
    </div>
</div>