<div class="row">
	<div ng-class="{'col-sm-6 col-md-3': self.isAdmin,
	'col-sm-12 col-md-6': !self.isAdmin}">
		<a class="data-widget bg-pb-blue-700 a-lnk" href="#/trainings">
			<div class="data-widget-icon">
				<i class="nc-icon-outline education_board-51"></i>
			</div>
			<div class="data-widget-data bg-pb-blue-500">
				<p class="data-description">Trainings</p>
				<p class="data-value" ng-cloak>{{self.sectionsCount.trainings}}</p>
			</div>
		</a>
	</div>

	<div ng-class="{'col-sm-6 col-md-3': self.isAdmin,
	'col-sm-12 col-md-6': !self.isAdmin}">
		<a class="data-widget bg-pb-purple-700 a-lnk" href="#/topics">
			<div class="data-widget-icon">
				<i class="nc-icon-outline education_book-bookmark"></i>
			</div>
			<div class="data-widget-data bg-pb-purple-500">
				<p class="data-description">Topics</p>
				<p class="data-value" ng-cloak>{{self.sectionsCount.topics}}</p>
			</div>
		</a>
	</div>

	<div class="col-sm-6 col-md-3" ng-if="self.isAdmin">
		<a class="data-widget bg-pb-magenta-700 a-lnk" href="#/trainingrooms">
			<div class="data-widget-icon">
				<i class="nc-icon-outline ui-1_home-minimal"></i>
			</div>
			<div class="data-widget-data bg-pb-magenta-500">
				<p class="data-description">Training Rooms</p>
				<p class="data-value" ng-cloak>{{self.sectionsCount.trainingRooms}}</p>
			</div>
		</a>
	</div>

	<div class="col-sm-6 col-md-3" ng-if="self.isAdmin">
		<a class="data-widget bg-pb-cyan-700 a-lnk" href="#/employees">
			<div class="data-widget-icon">
				<i class="nc-icon-outline users_multiple-19"></i>
			</div>
			<div class="data-widget-data bg-pb-cyan-500">
				<p class="data-description">Employees</p>
				<p class="data-value" ng-cloak>{{self.sectionsCount.employees}}</p>
			</div>
		</a>
	</div>
</div>