<div class="panel">
    <div class="panel-heading"><i class="nc-icon-mini ui-e-2_calendar-add"></i>&nbsp;&nbsp;Upcoming Trainings</div>
    <div class="panel-body">
        <span ng-repeat="training in self.upcomingTrainings" training-tag training="training">
        </span>
        <span class="text-none" ng-if="!self.upcomingTrainings || self.upcomingTrainings.length === 0">None</span>
    </div>
    <div class="panel-heading"><i class="nc-icon-outline ui-1_calendar-60"></i>&nbsp;&nbsp;New Trainings</div>
    <div class="panel-body">
        <span ng-repeat="training in self.newTrainings" training-tag training="training">
        </span>
        <span class="text-none" ng-if="!self.newTrainings || self.newTrainings.length === 0">None</span>
    </div>
</div>