<div class="container main">
    <h1 class="specifications">Topic</h1>
    <div class="row spacer-top-md">
        <div class="col-md-8">
            <ng-include src="'/lunchandlearn/html/main/error.html'" ng-show="self.error"></ng-include>
            <form novalidate ng-show="!self.error">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label class="form-label">Name</label>
                        </div>
                        <div class="pull-right" topic-tag topic="self.item" show-like-only="true"></div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': self.errorName}">
                        <div class="row">
                            <div class="col-md-12">
                                        <span class="field-editable" ng-show="!self.editName"
                                              ng-click="self.editName = true">{{self.item.name}}</span>
                                <input type="text" class="form-control" ng-show="self.editName"
                                       ng-model="self.item.name" focus-me
                                       ng-keypress="self.saveOnEnterKey($event, 'name');"
                                       ng-keydown="self.cancelOnEnterKey($event, 'Name');">
                                <div save-cancel ng-show="self.editName" on-save="self.saveByField"
                                     on-cancel="self.setEditStatus" field="name"></div>
                                <span class="help-block has-error" ng-show="self.errorName">{{self.errorName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Description</label>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="field-editable commentText" ng-show="!self.editDesc"
                                              ng-click="self.editDesc = true">{{self.item.desc}}</span>
                                        <textarea class="form-control" ng-show="self.editDesc" ng-model="self.item.desc"
                                                  rows="5" autofocus="true"
                                                  ng-keydown="self.cancelOnEnterKey($event, 'Desc');"/>
                                        <div save-cancel ng-show="self.editDesc" on-save="self.saveByField"
                                             on-cancel="self.setEditStatus" field="desc"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Created By</label>
                            <div class="form-group">
                                <simple-tag items="self.createdBy" linkable="true"
                                            section-url="'employees'" section="'employees'"></simple-tag>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="self.lastModifiedBy">
                            <label class="form-label">Modified By</label>
                            <div class="form-group">
                                <simple-tag items="self.lastModifiedBy" linkable="true"
                                            section-url="'employees'" section="'employees'"></simple-tag>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="self.item.interestedEmployees">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Interested Employees</label>
                            <div class="form-group">
                                <simple-tag items="self.item.interestedEmployees" linkable="true"
                                            section-url="'employees'" section="'interestedEmployees'"></simple-tag>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="!self.employeesKnowAboutEmpty">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Employees Know About</label>
                            <div class="form-group">
                                <simple-tag items="self.item.employeesKnowAbout" linkable="true"
                                            section-url="'employees'" section="'employeesKnowAbout'"></simple-tag>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group spacer-top-md">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Related Trainings
                                <span ng-controller="trainingsController as tc">
                                    <button class="btn btn-link" ng-click="tc.showAdd();">
                                        <i class="nc-icon-mini ui-e-2_calendar-add"></i>
                                        Add Training
                                    </button>
                                </span>
                            </h3>
                            <uib-tabset justified="true">
                                <uib-tab>
                                    <uib-tab-heading><i class="nc-icon-mini design_album"></i>
                                        Nominated ({{self.unscheduledTrainingsCount}})
                                    </uib-tab-heading>
                                    <div class="spacer-bottom-md">
                                        <simple-tag items="self.unscheduledTrainings" linkable="true"
                                                    section="'trainings'" section-url="'trainings'"></simple-tag>
                                    </div>
                                </uib-tab>

                                <uib-tab>
                                    <uib-tab-heading><i class="nc-icon-mini design_todo"></i>
                                        Upcoming ({{self.upcomingTrainingsCount}})
                                    </uib-tab-heading>
                                    <div class="spacer-bottom-md">
                                        <simple-tag items="self.upcomingTrainings" linkable="true"
                                                    section="'trainings'" section-url="'trainings'"></simple-tag>
                                    </div>
                                </uib-tab>

                                <uib-tab>
                                    <uib-tab-heading><i class="nc-icon-mini ui-1_check-square-11"></i>
                                        Complete/Closed ({{self.closedTrainingsCount}})
                                    </uib-tab-heading>
                                    <div class="spacer-bottom-md">
                                        <simple-tag items="self.closedTrainings" linkable="true"
                                                    section="'trainings'" section-url="'trainings'"></simple-tag>
                                    </div>
                                </uib-tab>

                                <uib-tab>
                                    <uib-tab-heading><i class="nc-icon-mini design_note-code"></i>
                                        Other ({{self.otherTrainingsCount}})
                                    </uib-tab-heading>
                                    <div class="spacer-bottom-md">
                                        <simple-tag items="self.otherTrainings" linkable="true"
                                                    section="'trainings'" section-url="'trainings'"></simple-tag>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <ng-include src="'/lunchandlearn/html/topic/topicLeftPane.html'"></ng-include>
        </div>
    </div>
</div>