<div class="form-group">
    <label class="form-label">Agenda</label>
    <div ng-class="{'field-editable commentText':
    !self.isTrainingComplete && (self.isEditable || self.isAdmin)}"
         ng-show="!self.isEditable || (!self.editAgenda && item.agenda.length > 0)"
         ng-bind-html="item.agenda | linky:'_blank'" ng-click="self.editAgenda = true"></div>
    <button class="btn btn-xs btn-link" ng-if="!self.isTrainingComplete &&
    !self.editAgenda && (self.isEditable || self.isAdmin) && (!item.agenda || item.agenda.length == 0)" ng-click="self.editAgenda = true">
        Add
    </button>
    <textarea rows="10" ng-model="selected.agenda" ng-show="self.isEditable && self.editAgenda &&
    !self.isTrainingComplete" autofocus="true" class="new-comment">
    </textarea>
</div>
<div class="form-group">
    <button class="btn btn-sm btn-primary" ng-show="!self.isTrainingComplete &&
    self.isEditable && self.editAgenda"
            ng-click="self.saveSelectedField('agenda')">
        Save
    </button>
    <button class="btn btn-sm btn-default"
            ng-show="!self.isTrainingComplete && self.isEditable && self.editAgenda" ng-click="self.cancelTextEdit('agenda');">
        Cancel
    </button>
</div>
<!--whats for trainees -->
<div class="form-group">
    <label class="form-label">What's In for Trainees</label>
    <div ng-class="{'field-editable commentText':
    !self.isTrainingComplete && (self.isEditable || self.isAdmin)}"
         ng-show="!self.isEditable || (!self.editWhatsForTrainees && item.whatsForTrainees.length > 0)"
         ng-bind-html="item.whatsForTrainees | linky:'_blank'" ng-click="self.editWhatsForTrainees = true"></div>
    <button class="btn btn-xs btn-link" ng-if="!self.isTrainingComplete &&
    !self.editWhatsForTrainees && (self.isEditable || self.isAdmin) && (!item.whatsForTrainees || item.whatsForTrainees.length == 0)"
            ng-click="self.editWhatsForTrainees = true">
        Add
    </button>
    <textarea rows="5" ng-model="selected.whatsForTrainees" ng-show="self.isEditable && self.editWhatsForTrainees &&
    !self.isTrainingComplete" autofocus="true" class="new-comment">
    </textarea>
</div>
<div class="form-group">
    <button class="btn btn-sm btn-primary" ng-show="!self.isTrainingComplete &&
    self.isEditable && self.editWhatsForTrainees"
            ng-click="self.saveSelectedField('whatsForTrainees')">
        Save
    </button>
    <button class="btn btn-sm btn-default"
            ng-show="!self.isTrainingComplete && self.isEditable && self.editWhatsForTrainees" ng-click="self.cancelTextEdit('whatsForTrainees');">
        Cancel
    </button>
</div>
<!--whats for organisation -->
<div class="form-group">
    <label class="form-label">What's In for Organisation</label>
    <div ng-class="{'field-editable commentText':
    !self.isTrainingComplete && (self.isEditable || self.isAdmin)}"
         ng-show="!self.isEditable || (!self.editWhatsForOrg && item.whatsForOrg.length > 0)"
         ng-bind-html="item.whatsForOrg | linky:'_blank'" ng-click="self.editWhatsForOrg = true"></div>
    <button class="btn btn-xs btn-link" ng-if="!self.isTrainingComplete &&
    !self.editWhatsForOrg && (self.isEditable || self.isAdmin) && (!item.whatsForOrg || item.whatsForOrg.length == 0)"
            ng-click="self.editWhatsForOrg = true">
        Add
    </button>
    <textarea rows="5" ng-model="selected.whatsForOrg" ng-show="self.isEditable && self.editWhatsForOrg &&
    !self.isTrainingComplete" autofocus="true" class="new-comment">
    </textarea>
</div>
<div class="form-group">
    <button class="btn btn-sm btn-primary" ng-show="!self.isTrainingComplete &&
    self.isEditable && self.editWhatsForOrg"
            ng-click="self.saveSelectedField('whatsForOrg')">
        Save
    </button>
    <button class="btn btn-sm btn-default"
            ng-show="!self.isTrainingComplete && self.isEditable && self.editWhatsForOrg" ng-click="self.cancelTextEdit('whatsForOrg');">
        Cancel
    </button>
</div>
<div class="form-group spacer-bottom-sm ng-scope"><span>&nbsp;&nbsp;</span></div>
