<div class="row">
    <div class="col-md-12" ng-class="{'spacer-bottom-md': self.traineesCount === 0}">
            <simple-tag items="item.trainees" linkable="true"
                        section="'trainees'" section-url="'employees'"
                        on-remove="self.saveByField" ng-if="!self.isTrainingClosed && self.isAdmin"></simple-tag>
            <simple-tag items="item.trainees" linkable="true"
                        section="'trainees'" section-url="'employees'"
                        ng-if="self.isTrainingClosed || !self.isAdmin"></simple-tag>
        <span class="btn-group"
              ng-show="self.isAdmin && !self.editTrainees && !self.isTrainingClosed" ng-click="self.editTrainees = true">
            <span class="mini-tag-simple plus">
                <span class="a-lnk a-lnk-icon-mini"><i
                        class="nc-icon-mini ui-1_simple-add"></i></span>
            </span>
        </span>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6 spacer-bottom-sm" ng-show="self.isAdmin && self.editTrainees" ng-class="{'has-error': self.errorTrainees}">
            <ui-select ng-model="selected.trainee">
                <ui-select-match>
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices
                        repeat="trainee in (self.employees | filter: $select.search)">
                    <span ng-bind-html="trainee.name | highlight: $select.search"></span>
                    <small ng-bind-html="trainee.emailId | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
            <span class="help-block has-error" ng-show="self.errorTrainees">{{self.errorTrainees}}</span>
        </div>
    </div>
</div>
<div class="form-group">
    <button class="btn btn-sm btn-default" ng-class="{'spacer-bottom-md': !self.trainingRequestSent}"
            ng-disabled="self.sendingTrainingRequest" ng-show="self.isAdmin && self.isScheduled && !self.isTrainingClosed" ng-click="self.sendTrainingRequest();">
        Send Training Request
    </button>
    <button class="btn btn-sm btn-default spacer-bottom-md" ng-class="{'spacer-bottom-md': !self.feedBackRequestSent}"
            ng-disabled="self.sendingTrainingFeedbackRequest" ng-show="self.isAdmin && self.isFeedBackReady && !self.isTrainingClosed" ng-click="self.sendFeedBackRequest();">
        Send Feedback Request
    </button>
</div>
<div class="form-group" ng-if="self.feedBackRequestSent">
    <div class="alert alert-success alert-flex">
        Feedback request sent successfully.
    </div>
</div>
<div class="form-group" >
    <span ng-if="self.trainingRequestSent" class="alert alert-success alert-flex">
        Training request sent successfully.
    </span>
</div>