<div>
    <div class="row" ng-if="self.feedbacks && self.feedbacks.length > 0">
        <table class="col-md-12 table table-hover spacer-bottom-md" style="font-size: small;">
            <thead>
            <tr>
                <th>Trainee</th>
                <th ng-repeat="ratingRow in self.ratingsRows">{{ratingRow.label}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="feedback in self.feedbacks track by $index" ng-click="self.show(feedback.id)" class="a-lnk">
                <td>{{feedback.respondentName}}</td>
                <td ng-repeat="rating in self.ratingsRows">{{feedback.ratings[rating.code]}}</td>
            </tr>
            </tbody>
        </table>
        <div class="row" ng-if="self.feedbackComments.length != 0">
            <div class="col-md-12">
                <uib-accordion class="spacer-bottom-md">
                    <div uib-accordion-group class="panel-default"
                         heading="Comments ({{self.feedbackComments.length}})">
                        <div class="commentList">
                            <div class="feedbackComment" ng-repeat="feedbackComment in self.feedbackComments">
                                <div class="commenterImage">
                                    <i class="nc-icon-mini users_single-05"></i>
                                </div>
                                <div>
                                    <span class="commenterName">
                                        <a class="a-lnk" ng-href="#/employees/{{feedbackComment.respondentGuid}}">
                                        {{feedbackComment.respondentName}}</a></span>
                                    <div>
                                        <div class="commentText"
                                             ng-bind-html="feedbackComment.comment | linky:'_blank'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!feedbackStatus.pendingFeedBack">
        <div class="spacer-bottom-md">
            <ng-include src="'/pbacademy/html/training/ratingChart.html'"></ng-include>
        </div>
    </div>
    <div class="row spacer-bottom-md">
        <div class="col-md-12">
            <button class="btn btn-sm btn-default spacer-bottom-md" ng-click="self.showAdd();"
                    ng-if="feedbackStatus.pendingFeedBack">
                Add Feedback
            </button>
        </div>
    </div>
    <div class="form-group" ng-if="self.feedbackCount == 0 && isTrainingClosed">
        <div class="alert alert-info alert-flex">
            Training closed for Feedback.
        </div>
    </div>
</div>