<div class="row">
    <div class="col-md-12" ng-class="{'spacer-bottom-md': self.traineesCount === 0}">
            <simple-tag items="item.trainees" linkable="true"
                        section="'trainees'" section-url="'employees'"
                        on-remove="self.saveByField" ng-if="self.isAdmin"></simple-tag>
            <simple-tag items="item.trainees" linkable="true"
                        section="'trainees'" section-url="'employees'"
                        ng-if="!self.isAdmin"></simple-tag>
        <span class="btn-group mini-tag-simple-container"
              ng-show="self.isAdmin && !self.editTrainees" ng-click="self.editTrainees = true">
            <span class="mini-tag-simple">
                <span class="a-lnk a-lnk-icon-mini"><i
                        class="nc-icon-mini ui-1_simple-add"></i></span>
            </span>
        </span>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6 spacer-bottom-md" ng-show="self.isAdmin && self.editTrainees">
            <ui-select ng-model="selected.trainee">
                <ui-select-match>
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices
                        repeat="trainee in (self.employees | filter: $select.search)">
                    <span ng-bind-html="trainee.name | highlight: $select.search"></span>
                    <small ng-bind-html="trainee.emailId | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="form-group">
    <button class="btn btn-sm btn-default spacer-bottom-md" ng-show="self.isAdmin && self.isScheduled"
            ng-click="self.sendFeedBackRequest();">
        Send Training Request
    </button>
    <button class="btn btn-sm btn-default spacer-bottom-md" ng-show="self.isAdmin && self.isFeedBackReady"
            ng-click="self.sendFeedBackRequest();">
        Send Feedback Request
    </button>
</div>
<div class="form-group spacer-top-md" ng-if="self.feedBackRequestSent">
    <div class="alert alert-success alert-flex">
        Feedback request sent successfully.
    </div>
</div>