<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <h1 class="specifications">Trainings</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="input-group spacer-bottom-xs">
                <input class="form-control search" ng-model="self.searchTerm" type="text"
                       placeholder="Search trainings" ng-keypress="self.checkSearch($event);" required>
                <a class="search-clear a-lnk search-clear-a" href="" ng-show="self.searchTerm.length > 0"
                   ng-click="self.searchTerm = ''; self.list();"><i
                        class="nc-icon-mini fw ui-1_circle-remove"></i></a>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-link" ng-click="self.list()"
                            data-toggle="dropdown">
                        <i class="nc-icon-mini ui-1_zoom"></i> <i
                            class="nc-icon-mini arrows-2_small-down"></i>
                    </button>
                </span>
            </div>
            <div class="spacer-bottom-md">
                <a class="btn btn-link spacer-bottom-xs" ng-click="self.showAdd();"><i
                        class="nc-icon-mini ui-e-2_calendar-add"/>Add Training</a>
                <div class="search-list">
                    <div class="text-center" ng-show="self.searching">
                        <loading/>
                    </div>
                    <table class="table table-hover" ng-show="!self.searching">
                        <thead>
                        <tr>
                            <th><a href="" ng-click="self.sortList('lowername');" class="a-lnk">Name&nbsp;&nbsp;
                                <span ng-class="{'nc-icon-mini': true, 'fw arrows-2_select-83': self.sort.name !== 'lowername',
                             'arrows-1_small-triangle-down': self.sort.name === 'lowername' && self.sort.direction === 'desc',
                             'arrows-1_small-triangle-up': self.sort.name === 'lowername' && self.sort.direction === 'asc'}"></span></a>
                            </th>
                            <th><a href="" ng-click="self.sortList('scheduledOn');" class="a-lnk">Date&nbsp;&nbsp;
                                <span ng-class="{'nc-icon-mini': true, 'fw arrows-2_select-83': self.sort.name !== 'scheduledOn',
                             'arrows-1_small-triangle-down': self.sort.name === 'scheduledOn' && self.sort.direction === 'desc',
                             'arrows-1_small-triangle-up': self.sort.name === 'scheduledOn' && self.sort.direction === 'asc'}"></span></a>
                            </th>
                            <th>Location</th>
                            <th>Duration</th>
                            <th><a href="" ng-click="self.sortList('status');" class="a-lnk">Status&nbsp;&nbsp;
                                <span ng-class="{'nc-icon-mini': true, 'fw arrows-2_select-83': self.sort.name !== 'status',
                             'arrows-1_small-triangle-down': self.sort.name === 'status' && self.sort.direction === 'desc',
                             'arrows-1_small-triangle-up': self.sort.name === 'status' && self.sort.direction === 'asc'}"></span></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="trn in self.searchedTrainings.data" ng-click="self.gotoTraining(trn.id)" class="a-lnk">
                            <td><span training-tag training="trn"></span></td>
                            <td>{{trn.scheduledOn}}</td>
                            <td>{{trn.location}}</td>
                            <td>{{trn.duration == undefined ? 'None' :
                                trn.duration > 1 ? trn.duration + ' hrs' :
                                trn.duration + ' hr'}}
                            </td>
                            <td>{{trn.status | propercase}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 bottom-border">
                </div>
            </div>
            <ng-include src="'/lunchandlearn/html/main/pagination.html'"></ng-include>
        </div>
        <div class="col-md-4">
            <ng-include src="'/lunchandlearn/html/training/trainingLeftPane.html'"></ng-include>
        </div>
    </div>
</div>