<table class="table table-striped" ng-controller="topicController">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Edit</th>
			<th>Remove</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="topic in topics">
			<td ng-bind="topic.name"></td>
			<td ng-bind="topic.desc"></td>
			<td>
				<button class="btn btn-link btn-sm" ng-click="showEdit(topic.id)">
					<i class="glyphicon glyphicon-edit"></i>
				</button>
			</td>
			<td>
				<button class="btn btn-link btn-sm" ng-click="remove(topic.id);">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>