<table class="table table-striped" ng-controller="trainerController">
	<thead>
		<tr>
			<th>Name</th>
			<th>EmailId</th>
			<th>Gender</th>
			<th>Edit</th>
			<th>Remove</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="trainer in trainers">
			<td ng-bind="trainer.name | gender: trainer.gender"></td>
			<td ng-bind="trainer.emailId"></td>
			<td ng-bind="trainer.gender"></td>
			<td>
				<button class="btn btn-link btn-sm" ng-click="showEdit(trainer.id)">
					<i class="glyphicon glyphicon-edit"></i>
				</button>
			</td>
			<td>
				<button class="btn btn-link btn-sm" ng-click="remove(trainer.id);">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>